<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="VisualStudio" type="ClassOutline.Logging.VisualStudioOutputLogger, ClassOutline.Logging" >

  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="VisualStudio" />
  </root>
</log4net>