<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlRenderer.Core" version="1.5.0.5" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="Microsoft.VSSDK.Vsixsigntool" version="14.0.23311-prerelease" targetFramework="net45" />
  <package id="VSSDK.IDE.11" version="11.0.4" targetFramework="net45" />
</packages>