<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VSSDK.Vsixsigntool" version="15.0.26201" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NUnit" version="3.6.0" targetFramework="net45" />
  <package id="SignVSIXLibrary" version="1.0.1" targetFramework="net45" />
</packages>