<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VSSDK.Vsixsigntool" version="14.0.23311-prerelease" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="SignVSIXLibrary" version="1.0.1" targetFramework="net45" />
</packages>